.card {
	transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
	transform: translateY(-2px);
	box-shadow: var(--mantine-shadow-lg);
}

.header {
	background-color: light-dark(
		var(--mantine-color-gray-0),
		var(--mantine-color-dark-6)
	);
}
.title {
	margin-bottom: 20px;
}
